
{% extends "index.html" %}
{% block section %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='item_details.css') }}">
</head>

<div class="categories">
    <p>상품 카테고리</p>

    <button class="category_btn" data-filter="daily_products" onclick="loadProducts('생활용품')">
      생활용품
    </button>
    <button class="category_btn" data-filter="books" onclick="loadProducts('책')">
      책
    </button>
    <button class="category_btn" data-filter="ewha_goods" onclick="loadProducts('이화 굿즈')">
      이화 굿즈
    </button>
    <button class="category_btn" data-filter="etc" onclick="loadProducts('기타')">
      기타
    </button>
</div>

<div>
    
</div>





{% endblock section %}