<!DOCTYPE html>
<html lang="ko"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ewha Market - 회원가입</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer=""></script>
   
</head>

<body>
    <nav class="navbar" style="background-color: #00462A;">
        <!-- 로고가 중앙에 배치됨 -->
        <div class="navbar__logo">
            <a href="/">Ewha Market</a>
        </div>

        <!-- 로그인 메뉴가 우측에 배치됨 -->
        <div class="login_button">
            <ul class="login_bar">
                {% if userid %}
                <li><a class="login_menu" href="/logout">로그아웃</a></li>
                <li><a class="login_menu" href="/mypage">마이페이지</a></li>
                {% else %}
                <li><a class="login_menu" href="/loginpage">로그인</a></li>
                {% endif %}
            </ul>
        </div>

        <!-- 네비게이션 메뉴가 좌측에 배치됨 -->
        <ul class="navbar__menu">
            <li><a class="menu" href="/list">상품 목록</a></li>
            <li><a class="menu" href="/review">리뷰 목록</a></li>
            <li><a class="menu" href="/reg_items">상품 올리기</a></li>
            <li><a class="menu active" href="/reg_reviews">리뷰 작성하기</a></li>
        </ul>
    </nav>
<h2>회원가입</h2>
<form id="signupForm">
    <div style="margin-bottom: 20px;"><label for="username" style="font-weight: bold;">아이디 *</label></div>
    <div class="username-container" style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
        
        <input type="text" id="username" name="username" required="" style="flex: 1; padding: 10px;">
        <button type="button" id="checkUsername" style="padding: 10px 15px;">중복확인</button>
    </div>
    <span id="usernameMessage"></span>

    <div>
        <label for="password">비밀번호 *</label>
        <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,16}" required="">
        
    </div>

    <div>
        <label for="confirmPassword">비밀번호 재확인 *</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required="">
        <span id="passwordMessage"></span>
    </div>

    <div>
        <label for="email">이메일 주소 *</label>
        <input type="email" id="email" name="email" required="">
    </div>

    <div>
        <label for="phone">핸드폰 번호 (선택)</label>
        <input type="tel" id="phone" name="phone" pattern="\d*">
    </div>

    <div style="text-align: center; margin-top: 20px;"><button type="submit">가입하기</button></div>
    </form>
    <a class="button" href="/register">회원가입</a>
</main>

</body></html>