{% extends "index.html" %}
{% block section %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ewha Market</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <nav class="navbar" style="background-color: #00462A;">
        <!-- 로고가 중앙에 배치됨 -->
        <div class="navbar__logo">
            <a href="/">Ewha Market</a>
        </div>

        <!-- 로그인 메뉴가 우측에 배치됨 -->
        <div class="login_button">
            <ul class="login_bar">
                {% if userid %}
                <li><a class="login_menu" href="/logout">로그아웃</a></li>
                <li><a class="login_menu" href="/mypage">마이페이지</a></li>
                {% else %}
                <li><a class="login_menu" href="/loginpage">로그인</a></li>
                {% endif %}
            </ul>
        </div>

        <!-- 네비게이션 메뉴가 좌측에 배치됨 -->
        <ul class="navbar__menu">
            <li><a class="menu" href="/list">상품 목록</a></li>
            <li><a class="menu" href="/review">리뷰 목록</a></li>
            <li><a class="menu" href="/reg_items">상품 올리기</a></li>
            <li><a class="menu active" href="/reg_reviews">리뷰 작성하기</a></li>
        </ul>
    </nav>


    <form action="/submit_item" enctype="multipart/form-data" method="post">
        <main>
            <h2>상품 등록</h2>
            <div> <br><br>
                <label for="name"> 상품명 : </label> <br>
                <input type="text" name="name" id="name" placeholder="ex) 마우스" required><br><br>
            </div>

            <div>
                <label for="price"> 가격 : </label> <br>
                <input type="text" name="price" id="price" placeholder="ex) 00,000원" required><br><br>
            </div>

            <div>
                <label for="addr"> 지역 : </label> <br>
                <input type="text" name="addr" id="addr" placeholder="ex) 서대문구 이화여대길" required><br><br>
            </div>

            <div>
                <label for="tel"> 연락처 : </label> <br>
                <input type="text" name="tel" id="tel" placeholder="ex) 010-0000-0000" required><br><br>
            </div>

            <div>
                <label for="payroute"> 거래 방식 : </label> <br>
                <select id="card" name="card" required>
                    <option value="delivery" selected> 택배 </option>
                    <option value="direct"> 대면 </option>
                    <option value="locker"> 사물함 </option>
                </select><br><br>
            </div>

            <div>
                <label for="payment"> 결제 수단 : </label> <br>
                <select id="payment" name="payment" required>
                    <option value="send" selected> 계좌 이체 </option>
                    <option value="cash"> 현금 </option>
                </select><br><br>
            </div>

            <div>
                <label for="condition"> 상태 : </label> <br>
                <select id="condition" name="condition" required>
                    <option value="매우 좋음">매우 좋음</option>
                    <option value="좋음">좋음</option>
                    <option value="양호">양호</option>
                    <option value="조금 별로">조금 별로</option>
                    <option value="별로">별로</option>
                </select><br><br>
            </div>

            <div>
                <label for="description"> 상품 설명 : </label> <br>
                <textarea id="content" name="content" placeholder="ex) 한 달 전 구매했는데 두 번밖에 안 써서 깨끗합니다."
                    required></textarea>
            </div>

            <div>
                <label for="img"> 사진 / 동영상 첨부 : </label> <br>
                <input type="file" id="fileUpload" accept="image/*, video.*"><br><br>
            </div>

            <div class="buttons">
                <button type="button" onclick="cancelForm()">작성 취소</button>
                <button type="submit">글 게시</button>
            </div>
    </form>
    </main>

    <script src="script.js"></script>
</body>
{% endblock section %}