<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header id="header">
        <div class="container">
            <h1 class="logo">
                <a href="">Ewha Market</a>
            </h1>
            <div class="utilarea">
                <a href="" class="login">로그인</a>
                <a href="" class="mypg">마이페이지</a>
            </div>
        </div>
        <div class="link">
            <a href="" class="lst">상품 목록</a>
            <a href="" class="register">상품 등록</a>
            <a href="" class="riviewlst">리뷰 목록</a>
        </div>
    </header>

</html>