.navbar {
  background-size: 100% 150px !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #006937 !important;
  font-weight: bold;
  text-align: right;
  font-size: 140%;
  margin: 0px;
}

.navbar__logo {
  font-family: Tahoma, sans-serif !important;
  color: #ffffff;
  font-size: 30px !important;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

/* 네비게이션 바 */
.navbar__menu {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, auto));
  grid-gap: 10px;
  border: none;
  margin: 1px;
  padding: 10px;
  height: 50px;
}

.itemList,
.reviewList,
.regItems,
.regReviews {
  font-family: Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  height: 50px;
  background-color: none;
  border: none;
}

/* 로그인버튼 */
.login_menu {
  color: #ffffff;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* 호버 효과를 위한 부드러운 전환 */
}

.login_menu:hover {
    background-color: #037a46; /* 호버 시 배경 색상 */
 }