body {
  margin:0;
  background-color: #ffffff;
}

a {
  text-decoration-line: none;
  color:white;
}
.navbar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo a {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}

.login_bar {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  background-color:#006937 !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 100%;
  color:#ffffff;
  padding: 12px 20px;
}
.navbar__logo {
    font-family: Tahoma, sans-serif !important;
    color:#ffffff;
    font-size: 30px !important;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

/* 네비게이션 바 */
.navbar__menu {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, auto));
    grid-gap: 10px;
    border: none;
    margin: 1px;
    padding: 10px;
    height: 50px;
  }
  .itemList, .reviewList, .regItems, .regReviews {
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:#ffffff;
    height: 50px;
    background-color: none;
    border: none;
  }

/* 로그인버튼 */
.login_bar {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.login_menu {
  color: #ffffff;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration-line: none;
  transition: background-color 0.3s ease; /* 호버 효과를 위한 부드러운 전환 */
}

/* .login_menu:hover {
    background-color: #037a46; 호버 시 배경 색상
 } */


  