{% extends "index.html" %}

{% block extrahead %}
<link rel="stylesheet" href="static/style_item_details.css">
{% endblock %}

{% block section %}

<body>
    <div id="details">
        <!-- 상품 상세 정보가 여기에 표시됨 -->
        <p>
            <!-- 카테고리 -->
            {{data.category}}
        </p>
        <p>
            <!-- 상품 이름 -->
            <b>{{name}}</b>
            </p>
        <p>
            <!-- 주소 -->
            <br><br>{{data.addr}}
        </p>
        
        <p>
            <!-- 연락처 -->
            {{data.phone}} 
        </p>
    
        <p>
            결제 방식:
            {% if data['card'] == "Y" %}
            계좌 이체
            {% endif %}
            {% if data['card'] == "N" %}
            현금
            {% endif %}
        </p>
        <img src="../../static/images/{{data.img_path}}" , width=140, height=200>
    </div>

    <!-- <script src="{{ url_for('static', filename='products.js') }}"></script> -->
</body>
{% endblock section %}




