{% extends "index.html" %}

{% block extrahead %}
<link rel="stylesheet" href="static/style_item_details.css">
{% endblock %}

{% block section %}
<body>
    <div id="product-detail">
        <!-- 상품 상세 정보가 여기에 표시됨 -->
    </div>
    <div id="details">
        
        <h1>{{ product.title }}</h1>
        <img src="{{ url_for('static/images', filename=명품자바에센셜표지.jpg) }}" alt="{{ product.title }}">
        <p><strong>카테고리:</strong> {{ product.category }}</p>
        <p><strong>날짜:</strong> {{ product.date }}</p>
        <p><strong>상세 설명:</strong> {{ product.description }}</p>
            
    </div>

    <script src="{{ url_for('static', filename='products.js') }}"></script>
</body>
{% endblock section %}