{% extends "index.html" %}

{% block extrahead %}
<link rel="stylesheet" href="static/style_list.css">
{% endblock %}

{% block section %}
<script>
  $(document).ready(function () {
    //alert("{{category}}");
    $('#category option:contains("{{category}}")').prop("selected", true);
  });
</script>

<body>
  <!-- 상품 등록 버튼 -->
  <div class="write_btn">
    <a href="/reg_items" class="register">상품 등록</a>
  </div>
  <!-- 네비게이션 바 아래 상품 분류 필터부터 구현 -->
  <div class="category_btn">
    <button class="daily_products {{ 'active' if category == 'daily_products' else '' }}" data-filter="daily_products"
      onclick="location.href='{{url_for('view_list', page=i, category='daily_products')}}';">
      생활용품
    </button>
    <button class="books {{ 'active' if category == 'books' else '' }}" data-filter="books"
      onclick="location.href='{{ url_for('view_list', category='books', page=i) }}';">
      책
    </button>
    <button class="ewha_goods {{ 'active' if category == 'ewha_goods' else '' }}" data-filter="ewha_goods"
      onclick="location.href='{{ url_for('view_list', category='ewha_goods', page=i) }}';">
      이화 굿즈
    </button>

  </div>


  <div class="product-container" id="products">
    {% if total > 0 %}
    <table>
      {% for row in rows%}
      <tr>
        {% for key, value in row %}
        <!-- <td onclick="location.href='/view_detail/{{key}}/';" style="cursor:pointer;"> -->
        <td onclick="location.href='/view_detail/{{key}}/?category={{value.category}}';" style="cursor:pointer;">
          <img src="static/images/{{value.img_path}}" alt="{{key}}"><br>
          <div class="product-title" data-title="{{key}}">
            {{key}}
          </div><br>
          <div class="product-price">가격: {{ value.price }}</div>
          {% if value['status'] == "판매중" %}
          <div class="status">{{ value.status }}</div>
          {% elif value['status'] == "판매종료" %}
          <div class="red-status">{{ value.status }}</div>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>등록된 상품이 없습니다.</p>
    {% endif %}
  </div>

  <!-- 페이지네이션 -->
  <div class="pagination" id="pagination">
    {% for i in range(1, page_count+1)%}
    <li class="{% if i == page %}current-page{% endif %}">
      <a href="{{url_for('view_list', page=i, category=category)}}" color="black">{{i}}</a>
    </li>
    {% endfor %}

  </div>

</body>
{% endblock section %}