{% extends "index.html" %}

{% block extrahead %}
<link rel="stylesheet" href="static/style_review.css">
{% endblock %}

{% block section %}

{% if total > 0 %}
<div class="info">
    <div class="review">리뷰 총 {{total}}개</div>
    <div class="category_btn">
        <button type="button" sort="recentlst" class="on" onclick="sortReviews('recent')">최신 순</button>
        <button type="button" sort="highlst" onclick="sortReviews('high')">별점 높은 순</button>
        <button type="button" sort="lowlst" onclick="sortReviews('low')">별점 낮은 순</button>
    </div>
</div>
<body>
    <div class="product-container" id="products">
    <table>
    {% for row in rows%}
            <tr>
            {% for key, value in row.items()%}
                <td onclick="location.href='/view_detail_review/{{key}}/';" style="cursor:pointer;">
                    <img src="{{value.image}}" alt="상품" >
                    <div class="product-title" data-title="{{value.title}}"> {{value.title}} </div>
                    <div class="product-price"> 등록일자: {{ value.date }} </div>
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
            {% else %}
            <p>등록된 리뷰가 없습니다.</p>
            {% endif %}
        </div>

<div class="pagination" id="pagination">
    {% for i in range(1, page_count+1)%}
    <li class="{% if i == page %}current-page{% endif %}">
      <a href="{{url_for('view_review', page=i)}}" color="black">{{i}}</a>
    </li>
    {% endfor %}

  </div>

<div class="write_btn">
    <a href="/reg_reviews" class="register">리뷰 등록</a>
</div>
</body>
<script>
    function sortReviews(sortBy) {
        const timestamp = new Date().getTime();
        window.location.href = `/review?sort=${sortBy}&t=${timestamp}`;
    }
</script>

  <script>
    // 버튼 클릭 시 active 클래스 추가/삭제
    document.addEventListener("DOMContentLoaded", function () {
      const buttons = document.querySelectorAll(".category_btn button");

      buttons.forEach(button => {
        button.addEventListener("click", function () {
          // 다른 버튼에서 active 클래스 제거
          buttons.forEach(btn => btn.classList.remove("active"));
          
          // 현재 클릭한 버튼에 active 클래스 추가
          this.classList.add("active");
        });
      });
    });
  </script>
{% endblock section %}

